@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #09203f 0%, #537895 100%);
  color: white;
}

.v-center {
  display: flex;
  align-items: center;
}

.text {
  padding-left: 90px;
}

h2 {
  font-size: 2rem;
  line-height: 0.7;
}

h1 {
  font-size: 5rem;
  line-height: 1.2;
}

#pimbahal-img {
  width: 800px;
  overflow: hidden;
}

a[role="button"] {
  display: block;
  width: 160px;
  left: 189px;
  top: 641px;
  border: none;
  outline: none;
  background: #f57359;
  border-radius: 5px;
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  padding: 15px 0;
}

a[role="button"]:hover {
  background: #f3836d;
}

.image {
  padding-top: 15px;
}

/* Features */
.container {
  text-align: center;
  padding-bottom: 85px;
  margin-top: 7rem;
}

.features-list {
  margin-top: 40px;
}
.card {
  background: radial-gradient(
    666px at 0.4% 48%,
    rgba(202, 204, 227, 0.1) 0%,
    rgba(89, 89, 99, 0.1) 97.5%
  );
  transition: 100ms ease;
  border-radius: 20px;
  padding: 30px 40px;
}
.card:hover {
  cursor: pointer;
  background: radial-gradient(
    666px at 1% 90%,
    rgba(202, 204, 227, 0.1) 1%,
    rgba(89, 89, 99, 0.1) 10%
  );
  transform: scale(1.01);
}
.feature {
  flex: 1 1 0; /* All flex children of same size */
}
.feature .icon {
  margin-bottom: 24px;
}
.feature h3 {
  margin-bottom: 8px;
}

.feature .text {
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  aspect-ratio: 1;
}
h1 {
  font-size: 3.2rem;
}
.social-icons {
  font-size: 1.9rem;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.icon:hover {
  cursor: pointer;
  color: rgb(110, 110, 110);
}

kbd {
  margin: 0px 0.1em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  display: inline-block;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
  background-color: rgb(247, 247, 247);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
}

.controls h1 {
  margin-bottom: 50px;
}
.controls .card {
  flex: 1 1 0;
}
